<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <h2 class="register">CREAR CUENTA</h2>
    <form action="/register" method="GET">
        <div>
            <label for="name">Nombre y Apellido:</label>
            <input type="text" name="registro" id="name" placeholder="Carla Moreno">
        </div>
        <div>
            <label for="userName">Nombre de Usuario:</label>
            <input type="email" name="userName" id="userName" placeholder="usuario@gmail.com">
        </div>
        <div>
            <label>Fecha de Nacimiento:</label>
            <input type="date" name="Fecha" value="2005-09-26">
            
        </div>
        <div>
            <label for="address">Domicilio:</label>
            <input type="text" name="address" id="address" placeholder="manzana 18 lote 12">
        </div>
        <div>
            <label for="perfil">Perfil de Usuario:</label>
            <input type="radio" name="perfil" id="perfil">
        </div>
        <div>
            <label for="name">Nombre y Apellido:</label>
            <input type="text" name="registro" id="name">
        </div>


</body>

</html>